node_modules/
npm-debug.log

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
/nbproject/private/

*~
thumbs.db
.buildpath
.project
.idea/
.settings/
.git/
